
<p>
  <strong>Name:</strong>
  <%= @tag.name %>
</p>

<p>
  <strong>Tasks:</strong>
	<ul>
	  	<% @tasks.each do |t| %>
	  	<li><%= link_to t.task.name, task_path(t) %></li>
	  	<% end %>
	</ul>

</p>

